*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow: scroll; */
    background-color: #44687b;
}

  TableHead
.outBox {
  width: 100vw !important;
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
}
  .speakButton{
    width: 100px;
    height: 40px;
    border: none;
    outline: none;
background-color: #44687b;
color: white;
border-radius: 5px;
position: fixed;
bottom: 5%;
left: 5%;
  }
  .StopButton{
    width: 100px;
    height: 40px;
    border: none;
    outline: none;
background-color: #de0202;
color: white;
border-radius: 5px;
position: fixed;

bottom: 5%;
left: 50%;
  }
  .speakButton2{
    width: 100px;
    height: 40px;
    border: none;
    outline: none;
background-color: #1d574b;
color: white;
border-radius: 5px;
position: fixed;

bottom: 5%;
right: 5%;
  }